{% extends 'base.html.twig' %}

{% block title %}DemandeConge{% endblock %}

{% block body %}
    <h1>DemandeConge</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ demande_conge.id }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ demande_conge.dateDebut ? demande_conge.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NombreJour</th>
                <td>{{ demande_conge.nombreJour }}</td>
            </tr>
            <tr>
                <th>DateReprise</th>
                <td>{{ demande_conge.dateReprise ? demande_conge.dateReprise|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ demande_conge.dateFin ? demande_conge.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ApprobationChef</th>
                <td>{{ demande_conge.approbationChef ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>ApprobationDir</th>
                <td>{{ demande_conge.approbationDir ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>ApprobationAg</th>
                <td>{{ demande_conge.approbationAg ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ demande_conge.etat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('demande_conge_index') }}">back to list</a>

    <a href="{{ path('demande_conge_edit', {'id': demande_conge.id}) }}">edit</a>

    {{ include('demande_conge/_delete_form.html.twig') }}
{% endblock %}
